.add-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../docs/feup.png');
    background-repeat: no-repeat;
    background-size: cover ;
}

.add-page form{
    position: relative;
    background: white;
    border-radius: 1rem;
    display: grid;
    padding: 2rem;
    min-width: 25rem;
    gap: 2rem;
    font-size: 1.3rem;
    margin: 2rem;
    max-width: 40rem;
}
.add-page form input{
    border-bottom: 1px solid #AAAAAA;
    font-size: 1rem;
}

.add-page form button{
    font-size: 1rem;
}

.add-page form i{
    color: white;
}

@media (max-width: 60em){
    .add-page form{
        min-width: 20rem;
    }
}
    
@media (max-width: 40em){
    .add-page form{
        min-width: 10rem;
    }
}