.homePageHeader{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-image:url("../docs/feup.png");
    background-repeat: no-repeat;
    background-size: cover ;

}
.homePageHeader .indicator{
    position: absolute;
    display: block;
    bottom: 1rem;
}
.homePageHeader .indicator i{
    position: absolute;
    font-size: 2.5rem;
    color: white;
    bottom: 0;
    transition: none;
}

.homePageHeader .indicator a:nth-of-type(1) i{
    animation: indicate 1.5s linear infinite;
    bottom: 1.6rem;
}

.homePageHeader .indicator a:nth-of-type(2) i{

    animation: indicate 1.5s linear infinite;
    bottom: 0.8rem;
    animation-delay: 0.5s;

}
.homePageHeader .indicator a:nth-of-type(3) i{
    animation: indicate 1.5s linear infinite;
    animation-delay: 1s;
}

@keyframes indicate {
   50%{
       color: transparent;
   }

}


.homePageHeader header{
    display: block;
}
.homePageHeader header h1,h2{
    max-width: 60rem;
    font-size: 4rem;
    color: white;
    text-align: center;
    position: relative;
    margin: auto;

}
.homePageHeader header h2{
    font-size: 2rem;
}
.homePageHeader .loginRegister {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
    justify-content: end;

}
.homePageHeader .loginRegister a {
    margin-right: 2rem ;
    padding: 0.4rem 1rem;
    position: relative;
   font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: #FF4F47;
    border: none;
    cursor:pointer;
    border-radius: 0.5rem;

}
.homePageHeader .loginRegister a:first-child {
    background: none;
}
.homePageHeader .loginRegister a:hover {
    background: gray;
}

.about {
    max-width: 75rem;
    margin: auto;

    padding: 1rem;
}
.about h1{
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}
.about article{
    display: flex;
    margin-bottom: 5rem;
}
.about article .Text{
    max-width: 45rem;
    font-size: 1rem;
}
.about article img{
    max-width: 30rem;

    margin-left: 3rem;
    max-height: 30rem;
    align-self: center;
}
.about article .Text header{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;

}
.about article .Text header::before{
    content: '';
    width: 4rem;
    height: 0.2rem;
    background: black;
    position: absolute;

}
.about article .Text p::first-letter{
    font-size: 1.2rem;
    font-weight: bold;
}
.about :nth-child(odd) img{
    order: -1;
    margin: 3rem 3rem 0rem 0;
}

