@media (max-width: 85rem) {
    .FAQ{

        max-width: 60rem;
    }
    .FAQ article{
        display: flex;
        flex-direction: column;
    }
    .FAQ article .Text{
        max-width: 100%;

    }
    .FAQ article img{
        position: relative;
        margin: 1rem auto auto;
    }
    .FAQ :nth-child(odd) img{
        order: 5;
        margin: auto;
    }
}

@media (max-width: 75rem) {
    .FAQ{
        margin-left: 5rem;
    }
    .FAQ h1{
        padding: 1rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }
    .homePageHeader{
        padding: 1rem;
        width: 100%;
    }
    .homePageHeader header h1{
        font-size: 3rem;
    }
    .homePageHeader header h2{
        font-size: 1.5rem;
    }


}
@media (max-width: 40rem) {
    .FAQ{
        margin-left: 0rem;

    }
    .FAQ h1{
        font-size: 2.2rem;

        padding: 0;
    }
    .FAQ article img{
        position: relative;
        width: 100%;

    }
    .homePageHeader{
        padding: 1rem;
        width: 100%;
        word-wrap:break-word;
    }
    .homePageHeader header{
        word-break: break-word;
        width: auto;
        word-wrap:break-word;
    }
    .homePageHeader header h1{
        font-size: 2.5rem;
        width: auto;
        max-width: none;
        word-wrap: break-word;
    }
    .homePageHeader header h2{
        font-size: 1.5rem;
        word-wrap: break-word;
        word-break: break-word;

    }


}

