#loginRegister{
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 100%;
    background: #232327AA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginRegister form{
    display: grid;
    background: white;
    padding: 1rem;
    grid-row: 4;
    grid-column: 2;
}
#loginRegister form input{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black ;
}
#loginRegister form button{
    padding: 1rem 0;
    background: transparent;
    border: none;
    outline: none;
}

