body {
  max-width: 100vw;
  display: grid;
  margin:0;

}

main{
  margin-left: 4em;
}

footer{
  margin-left: 4em;
}

.navbar {
  position: fixed;
  top:0;
  height: 100vh;
  width: 4em;
  background-color: #3d3737;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr auto;
}

.navbar ul li a img  {
  width: 50%;
  height: auto;
  padding: 20%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar-top {
  grid-row-start: 1;
  grid-row-end: 4;
}

.navbar-bottom{
  position: absolute;
  bottom:0;
  grid-row-start: 6;
  grid-row-end: 7;
}
