.ticket-page{
    width: 100%;
    min-height:100vh;
    display: flex;
    color:#3d3737FD ;
}
.ticket-page .menu{
    width: 25%;
    height: 100vh;
    padding: 1rem;
    background: #F0FFFF;
    border-right:1px solid #AAAAAA ;

}


.ticket-page .menu ul ,.searchbar,.topBar {
    border-bottom: 1px solid #AAAAAA  ;
}
.ticket-page .menu ul li ,.ticket-page .menu ul{
    padding: 1rem;
   font-size: 1.1rem;
}

.menu header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.menu header button{
  background: #FF4F47;
    color: white;
    font-weight: bold;

}
.searchbar{
    background: white;
    border: 1px solid #767676;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    font-size: 1.2rem;
    position: relative;
    overflow: scroll;
    margin-top: 1rem;
}
.searchbar input{
    font-size: 1rem;
}
.selected{
    color: #0088BB;
    font-weight: bold;
}
.tickets,.newTicket{
    width: 75%;
    display: none;
    flex-direction: column;
    justify-content: start;
    padding: 0 1rem;
}
.newTicket{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;

}
.newTicket form {
    max-width: 45rem;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5rem 9rem;
    grid-template-rows: 5rem 10rem  3rem 3rem;
    border: 1px solid #AAAAAA;
    padding: 1rem;
    border-radius: 1rem;
    column-gap: 1rem;

}
.newTicket form input{
    grid-area: 1/1/2/4 ;
    border: 1px solid #AAAAAA;
    height: fit-content;
    margin-top: 1rem;
    background: #F3F3F3AA;
    font-size: 1.2rem;
}

.newTicket form textarea{
    grid-area: 2/1/3/4 ;
    font-size: 1rem;
    border: 1px solid #AAAAAA;
    background: #F3F3F3AA;

}

.newTicket form .errorMessage{
    grid-area: 3/1/4/4 ;
}
.newTicket form button:nth-of-type(1){
    background: none;
    color:#DD0000;
    grid-area: 4/2/5/3 ;
}
.newTicket form button:nth-of-type(1):hover{
    background: #AAAAAA;
    color: white;
}
.newTicket form button:nth-of-type(2){

    grid-area: 4/3/5/4 ;
}
@media (max-width: 55rem) {
    .ticket-page{
        flex-direction: column;

    }
    .ticket-page .menu, .ticket-page .tickets{
        width: auto;

        border: none;
    }
    .ticket-page .menu{
        height: auto;
    }
    .ticket-page .menu aside{
        width: 100%;
        overflow-x:scroll ;
        display: flex;
        margin-top: 1rem;
    }
    .ticket-page .menu aside ul{
        border: none;
        border-right: 1px solid #AAAAAA ;
        display: flex;
        padding: 0;

    }
    .ticket-page .menu aside ul li{
        width: fit-content;
    }


}




