@media (max-width: 85rem) {
    .user-page{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0rem;
        border: none;
        width: 100%;
    }

    .user {
        width: auto;
        grid-template-columns: 100%;
        padding: 0rem;
      }

    .user .user-info,
    .user .user-icon-info {
        grid-column: 1;
        width: 100%;
        overflow-wrap: break-word;
        box-sizing: border-box;
        padding-left: 1em;
        padding-right: 1em;
    }

    .user .links {
        grid-row: 3;
        grid-column: 1;
      }

    .user .links a {
        margin-bottom: 1em;;
    }

}
