.user-page{

  width: 100%;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../docs/images/feup.png');
  background-repeat: no-repeat;
  background-size: cover ;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
gap: 2rem;
  min-height: 100vh;
  max-width: 100vw;
  height: auto;
  position: relative;


}
.tickets{
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 50rem;
  width: 100%;
  min-height: 45rem;
  height: 80vh;
  position: relative;
  color:#3d3737FD ;
  overflow: hidden;

}



.user {
  max-width: 40rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  color: #3d3737FD;
}



.user .user-icon-info {

  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFFF0;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user .user-icon-info img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  border: 2px solid #555;
}

.user .user-icon-info i {
  font-size: 4rem;
  padding: 0.5em;
  border-radius: 100%;
  border: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  height: 4rem;
  width: 4rem;
}

.user .user-icon-info > * {
  margin: 0.5em 0;
}

.user .user-icon-info h2 {
  margin: 0.25em 0;
  font-size: 2rem;
}

.user .user-icon-info h3,
.user .user-icon-info h4 {
  margin: 0;
  font-size: 1.2rem;
}

.user .user-info {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #FFFFFFF0;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user .user-info h4 {
  font-size: 1.2rem;
  margin: 0 0 0.5em;
}

.user .user-info ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user .user-info ul li {
  background: #3d3737FD;
  color: white;
  list-style-type: none;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5rem 1rem;
  border-radius: 1em;

}
.user .user-info ul li h4{
  margin: 0;
  padding: 0;
}

.user .links {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
}

.user .links a {

  border-radius: 1em;
  padding: 1em;
  margin-right: 1em;
  margin-top: 1rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  background: #FF4F47;
  color: white;
}

.user .links a:hover {

  background: #81150c ;

}
  
